[2015-10-13 19:47] msarahan opened #6 "Need new tag for env shortcut functionality"
This PR adds functionality that is different enough to warrant a new minor version.

https://github.com/ContinuumIO/menuinst/pull/4

[2015-10-16 21:26] msarahan opened #7 "Menu folder names should be ??-bit, not raw machine name"
This reduces confusion around things like "AMD64" (People ask is this compatible with Intel?)

Check bitness with size of some Python object (tuple works)

[2015-10-19 13:58] msarahan commented on #6
Closed.  This is 1.1.0.

[2015-10-19 13:58] #6 closed

[2015-10-19 13:59] msarahan opened #9 "When menuinst was installed as admin, later shortcut creation fails"
https://github.com/conda/conda/issues/1717

Can we catch PermissionError and fall back to user menu install location?

[2015-10-20 21:07] #7 closed

[2015-11-03 20:21] flutefreak7 opened #16 "import menuinst fails during conda install"
I'm on Windows 7 64-bit and was trying to update my anaconda root environment from python 3.4 to 3.5.

When I ran `conda install anaconda python=3.5` in an Administrator cmd prompt, after all the downloads, and after extracting, I got the following Traceback:

[code]

I see that winshortcut is a *.cpp file which is different from the other submodules of menuist, so I figure that might be an issue?

[2015-11-03 20:29] msarahan commented on #16
Please see https://github.com/conda/conda/issues/1762#issuecomment-153366413

Menuinst should be installed by your command, but the solver isn't picking it up for some reason.  We will investigate.  Please try to install it manually for now.

[2015-11-03 21:15] flutefreak7 commented on #16
I actually was able to solve it by first running `conda update conda python=3.5` then running `conda update anaconda` which picked up the python version as 3.5 and updated anaconda accordingly.  I thought to do this because I've seen other instructions that began with `conda update conda`, so I thought it might be a prudent first step to update the updater.

[2015-11-03 21:28] msarahan commented on #16
Cool.  Thanks for posting your solution.

[2015-11-07 21:53] msarahan opened #17 "Error handling for permissions failures"
Presently, if menuinst fails for any reason during conda install, it kills the whole conda install.  Part of that needs fixing in conda install, but menuinst also needs saner fallbacks: if we don't have admin rights, or if permissions fail for any reason, try to install as user (to the AppData\Roaming\Microsoft\Start Menu folder - or however we get a shortcut to that).

Failing all permissions att

[2015-11-08 03:53] msarahan commented on #17
Fixed by #18

[2015-11-08 03:53] #17 closed

[2015-11-19 21:42] anntzer opened #19 "Various failures on linux + python3"
In `linux.py`:
- the `utils` and `freedesktop` imports should be relative (`from .utils import ...`)
- there is no `get_executable` defined anywhere so the import fails.
- `tree.write` (line 88) tries to write bytes to a unicode-opened file.
- the 3rd argument to `ShortCut.__init__` should be `target_prefix`, not `prefix` (also line 203).
  Even after fixing all this, running `menuinst.install` wi

[2015-11-19 21:58] msarahan commented on #19
Thanks for your report.  It sounds like you are actually trying to use this on Linux.  That's more than we can currently say.  We use menuinst only on Windows right now - the rest of the code is legacy.  We welcome any PRs you might put together, but we are not otherwise planning on fixing these issues right now.

[2015-11-19 22:23] anntzer commented on #19
Please remove/disable/put a big warning on the Linux code then, that'll avoid having someone else destroy their KDE menu and having to spend time figuring out how to restore it :-(

[2015-11-19 22:31] msarahan commented on #19
Fair enough.  I'll add warnings to the README and discuss removing code internally.

[2015-11-19 23:30] ccordoba12 commented on #19
@msarahan, can we try to make it work on Linux before removing it?

[2015-11-19 23:32] msarahan commented on #19
Sure - by all means, if you have time and want to fix it, then I'll be happy to review any changes.  I don't have time to fix this myself.

[2016-01-30 08:47] anntzer opened #25 "Change the API to menuinst.install(path_or_dict)"
All's in the title: allowing passing a dict (basically, the contents of the json file) to `menuinst.install` would simplify programmatic use of menuinst.  Alternatively, another function (`install_from_dict`) would be fine too.

[2016-04-26 15:48] anntzer commented on #25
bump?

[2016-04-26 15:49] msarahan commented on #25
This is a good idea, but I'm afraid we don't really have time to implement these nice-to-have features.  I'd be happy to look over a PR if you have time to submit one.

[2016-05-25 18:40] msarahan commented on #9
We now have approaches to elevate permissions based on what kind of install was done.

[2016-05-25 18:40] #9 closed

[2016-09-09 18:51] penenkel opened #35 "Windows: shortcut target is far too long"
Consider the following situation:
- Windows10 64bit
- Miniconda3-Installation at C:\Program Files\Python\miniconda3
- New Environment (e.g. py35) at default location: C:\Program Files\Python\miniconda3\envs\py35
- Install some package that creates a shortcut (e.g. IPython)

The target-command for the IPython-shortcut is now (for my locale):

That is a total of 254 characters!!

If only one part of

[2016-12-06 22:17] will133 opened #37 "Is there a way to disable menu creation during conda install?"
Is it possible to globally disable the menu creation during conda install?  In our experience, some packages can create non-functional links and we would like to avoid polluting user's menu.

[2016-12-06 22:48] msarahan commented on #37
Yes. It is sufficient to remove the menuinst package.

Conda remove menuinst

[2016-12-15 13:48] greyltc opened #38 "use of SHGetKnownFolderPath breaks compatibility with WinXP"
The following commit seems to have broken compatibility with Windows XP:
14016caa3c90f4579fc7c9b74493a276ab5161f3 because `windll.shell32.SHGetKnownFolderPath` is not available on Windows XP.

[2016-12-15 13:52] mingwandroid commented on #38
I do not think we support XP anymore, @csoja, @electronwill can you confirm that? Certainly Python 3.5 does not. You might be able to use Python 2.7 from on of the zip files in https://repo.continuum.io/archive/.winzip/ instead.

[2016-12-15 13:59] greyltc commented on #38
I'm building installers for windows XP using https://github.com/conda/constructor
Python 3.4 works fine as do most of the latest versions of many popular packages (I just have to be careful to use the ones compiled with VC10).

Could this package be somehow modified to include detection for win XP and fail gracefully somehow (or better yet revert to the previous behavior that worked in XP) instead

[2016-12-15 14:03] mingwandroid commented on #38
If we no longer officially support XP then we'll probably not spend time working this, however a PR would be considered.

[2016-12-15 15:00] greyltc commented on #38
I'm not sure if the intention of https://github.com/ContinuumIO/menuinst/pull/27 was to drop support for XP (@msarahan was it?).

Looks like the notes say that the behavior for win>XP was meant to change. Maybe there's just a bug in that pull that accidentally breaks XP?

[2016-12-15 15:20] ccordoba12 commented on #38
@greyltc, Windows XP and Vista are not supported anymore by Continuum, sorry.

I'm closing this one as *Won't fix*

[2016-12-15 15:20] #38 closed

[2016-12-15 19:59] electronwill commented on #38
I can confirm this; https://docs.continuum.io/anaconda/ lists Anaconda 2.2 as the final version to support XP. Sorry not to have better news for you @greyltc .

[2017-01-19 20:25] #37 closed

[2017-02-21 21:12] silentquasar commented on #38
Disappointing. Some of us in the scientific community are stuck with legacy hardware that only runs on XP. It is a major headache for conda to break on XP.

[2017-02-22 18:43] csoja commented on #38
@silentquasar you can keep your version of conda at the last version that did work for you on WindowsXP. https://conda.io/docs/config.html#update-conda-automatically-auto-update-conda

I wish we had more people and time...

[2017-02-25 20:19] silentquasar commented on #38
@csoja Thank you for the response and info.

[2017-03-02 13:55] mbargull opened #41 "pywin32 dependency / size of menuinst in Miniconda etc."
Since #27 `win_elevate.py` is included, which is great since it resolved interactive elevation. This added `pywin32` as a dependency though.
Since `pywin32` is a rather "heavy" package, now `menuinst` (with its dependency) will account for a considerable size of minimal installers like Miniconda.
Sadly, I do not know of an alternative to `pywin32` which provides similar functionality for Windows'

[2017-04-24 16:24] AlanMc101 commented on #35
Hi,

I have a similar issue / query.  I entered my initial query on the following thread:
https://github.com/jupyter/notebook/issues/2130

I'd really like to know if there is a way to shorten these file paths as the icons no longer work and the truncated target text may be causing my lack of functionality.

Best Regards,

Alan

[2017-04-24 16:56] mingwandroid commented on #35
These 'truncated shortcuts' are not actually truncated, only their display in the MS dialog is truncated. I verified that they are correct by looking at the shortcut file in a hex editor and also testing that they do the right thing, therefore I do not think this is related to your problem.

They *will* get truncated though, if you try to edit them.

[2017-05-05 16:50] kalefranz opened #42 "conda uncontrollably spawning python processes when creating/removing envs"
_From @cwreid18 on March 2, 2017 16:48_

On Windows 7, with Anaconda installed for all users in C:\Anaconda3. No problem creating and removing envs with admin rights. However, when running as user without admin rights, I get the following problem when creating environments: packages are downloaded ok, but then it hangs (usually at the linking or unlinking packages step) and I can see pythonw.exe p

[2017-05-05 16:50] kalefranz commented on #42
What version of conda?  Can you provide `conda info`?  If you're not on 4.3.13, go ahead an upgrade with `conda update conda` (as admin) and see if the problem is still there.

[2017-05-05 16:50] kalefranz commented on #42
_From @cwreid18 on March 2, 2017 17:59_

4.3.8 was the most recent version I used previously. The admin isn't around but I was able to update conda to 4.3.13 on my user. I then tried `conda create -n test anaconda=4.1.1` and got the error described above.

[2017-05-05 16:50] kalefranz commented on #42
_From @cwreid18 on March 2, 2017 18:7_

![conda_info](https://cloud.githubusercontent.com/assets/26145704/23520477/160068ee-ff73-11e6-86c4-693815543296.png)

[2017-05-05 16:50] kalefranz commented on #42
_From @wulmer on March 14, 2017 13:0_

I am having the same issue with conda 4.3.13. This problem currently blocks our Jenkins builds on Windows... :-(
It seems that if there is a problem while creating an environment, conda retries again and again. (Each of the failed processes spawns a new subprocess which also fails and which also starts a new subprocess and so on...)

I was able to get the com

[2017-05-05 16:50] kalefranz commented on #42
To my knowledge there is no "retry" in conda (there is in conda-build).  And it's possible that menuinst is the problem.  An easy test would just be `conda uninstall menuinst`, which shouldn't cripple conda at all.

[2017-05-05 16:50] kalefranz commented on #42
_From @asishm on March 31, 2017 13:12_

@wulmer Could you tell how you were able to get the command line of the spawned Python processes?

[2017-05-05 16:50] kalefranz commented on #42
_From @wulmer on March 31, 2017 21:7_

@asishm I use ProcessHacker (http://processhacker.sf.net) which not only shows process dependencies but also much more interesting and helpful information (for debugging), e.g. it can show command lines, working directories or environment variables of processes. Has saved me lots of time...

[2017-05-05 16:50] kalefranz commented on #42
_From @asishm on April 1, 2017 18:1_

Thanks,

I verified and I have the same issue. The `menuinst` keeps spawning multiple child processes. Since I don't have admin access, I can't run `conda uninstall menuinst` until I can get the sysadmin process it, which takes a very long time due to company procedures.

I'm trying to create conda envs with the default anaconda packages  with `conda create -n

[2017-05-05 16:55] kalefranz opened #43 "Error while installing jupyter notebook in anaconda"
_From @npatwa on October 12, 2016 14:10_

An unexpected error has occurred, please consider sending the
following traceback to the conda GitHub issue tracker at:

[code]

Include the output of the command 'conda info' in your report.

Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\conda\cli\main.py", line 208, in args_func
  File "C:\Anaconda3\lib\site-packages\conda\cli

[2017-05-05 16:55] kalefranz commented on #43
_From @silentquasar on February 8, 2017 7:39_

Ever come to a solution on this?

[2017-05-05 16:55] kalefranz commented on #43
_From @brombeerberg on March 23, 2017 11:36_

Got a very similar error today while installing Anaconda2 4.3.1 and Anaconda2 4.3.0.1 on Windows XP using the zip archive as the Computer is offline:

[code]
After ignoring during the installation process I noticed that icons were missing and I couldn't start Spyder.

[2017-05-05 16:56] kalefranz opened #44 "Anaconda won't instal notebook app form Launcher in XP"
_From @kturkalj on August 18, 2016 6:21_

**Anaconda3-2.2.0-Windows-x86.exe won't install notebook app on Windows XP from Launcher:**
Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\conda\cli\main.py", line 207, in args_func
  File "C:\Anaconda3\lib\site-packages\conda\cli\main_install.py", line 46, in execute
  File "C:\Anaconda3\lib\site-packages\conda\cli\install.py",

[2017-05-17 08:06] timeregained opened #45 "New release 1.4.5 caused Anaconda shortcut not working."
After upgrade to menuinst 1.4.5, all shortcuts of anaconda(Anaconda Navigator, IPython,...etc) cannot work, I guess it caused by new win32.py but I cannot figure out which parts of it.

After downgrading it to 1.4.4, all shortcuts can work normally.

Below is my conda information.

Current conda install:

               platform : win-64
          conda version : 4.3.18
       conda is private : F

[2017-05-17 11:23] mingwandroid commented on #45
Ah sorry about that. I will make a new release very soon. In the meantime, if you open cwp.py and change the end to the following:

[code]

.. you should be able to launch things again.

[2017-05-17 12:26] mingwandroid commented on #45
This is fixed now with release 1.4.6.

[2017-05-17 12:26] #45 closed

[2017-05-30 11:20] wulmer opened #46 "Incompatible cwp.py and menuinst package"
Start menu shortcuts pull in multiple components to open a Python application, for example:

    C:\path\to\venv\pythonw.exe \                # the Python executable from the VIRTUAL env
    "C:\Program Files\Anaconda3\cwp.py" \        # the cwp script from the ROOT env
    C:\path\to\venv \                            # the VIRTUAL env directory
    "C:/path/to/venv/pythonw.exe" \              # t

[2017-05-30 13:55] msarahan commented on #46
@wulmer can you help me understand the circumstances under which these incorrect shortcuts are created?

It looks to me like this is the prefix that is used for the first entry: https://github.com/ContinuumIO/menuinst/blob/master/menuinst/win32.py#L137

I'm confused here, though - how is sys.prefix *ever* anything other than the root python version?  Are you somehow calling menuinst directly rathe

[2017-05-30 14:08] mingwandroid commented on #46
To the best of my knowledge, menuinst is only ever called from the root env so no, no idea at all here!

[2017-05-30 16:20] mbargull commented on #46
The problem is that in https://github.com/ContinuumIO/menuinst/blob/master/menuinst/win32.py#L254
[code]
sets `cmd` which is later assumed to be referring to the root prefix. It should actually be
[code]
I.e., the `cmd` variable shouldn't refer to (possibly, e.g., when in non-root env) distinct values/commands. This also affects the other branches of the if-elif-else-clause: all those `cmd` should

[2017-05-30 16:27] msarahan commented on #46
no worries @mbargull - thanks for reasoning this out.

[2017-07-29 20:26] goanpeca opened #48 "Rework linux/osx support plus new simplified format?"
@kalefranz, @msarahan, @mingwandroid

I have been wanting to update the linux/osx support for some time, but it might also be a good opportunity to reevaluate the current format. Since conda uses jinja2, yaml and selectors, it would be pretty natural to do the same for menuinst (lets say version 2.0):

Based on https://github.com/ContinuumIO/menuinst/wiki/Menu-Shortcut-Config-Structure

Could we t

[2017-07-30 14:14] mingwandroid commented on #48
Sounds good! I'm probably try to get something going on mac (creation of .app bundles and Info.plists) and Linux (.desktop stuff) and have a feel for what those platforms introduce. .app bundles have file associations too (and a load of other stuff). It would be nice to solve the Windows "double-click on a jupyter-notebook and have it launch in a fully activated env" at the same time as doing .app

[2017-07-30 18:31] goanpeca commented on #48
Yeab, thats the idea. Most of yhe code is there already, we just need to update it a bit and clean it up. App bundles do have a ton of stuff :-p. Associations good idea!

[2017-07-31 14:30] csoja commented on #48
This is not going to be for the September release, correct?

[2017-07-31 14:40] goanpeca commented on #48
Probably not, would be nice though

[2017-08-02 10:09] samedi2k commented on #46
I have the same issue. When I install spyder in an environment (e.g. 'tensorflow') it will create the following shortcut target in Win 10 start menu:

`C:\Users\abc\Anaconda3\envs\tensorflow\python.exe C:\Users\abc\Anaconda3\cwp.py C:\Users\abc\Anaconda3\envs\tensorflow "C:/Users/abc/Anaconda3/envs/tensorflow/python.exe" "C:/Users/abc/Anaconda3/envs/tensorflow/Scripts/ipython-script.py"`

Problem

[2017-08-09 23:17] dashesy commented on #46
@samedi2k In the VM I was seeing the issue the root Anaconda Python version is 2.7

    $ C:\Anaconda\Python.exe --version
    Python 2.7.11 :: Anaconda custom (64-bit)

But the environment that is setup `py35` is Python3.5
When I use the root Python instead of the one from the environment it works.
So it is not being old vs new exactly, just incompatibility.

[2017-08-10 07:18] samedi2k commented on #46
@dashesy Yes exactly, that's the point. In my case root is 3.6 and env is 3.5 which also does not work. Solution is super easy: execute cwp.py by the root interpreter and not the env interpreter as I pointed out above. If shortcut generator could be fixed accordingly, that would be great.

[2017-08-10 18:31] msarahan commented on #46
Sorry, the PR fixing this never got merged.  We'll get it sorted out soon.

[2017-08-16 21:10] cfobel opened #49 "INFO messages are output even when Conda commands are run with `--json` or `--quiet`"
# Set up

 1. Install Conda package that includes `menuinst` menu shortcuts, e.g.:

        conda install '"microdrop-launcher"' -q --json -y

# Expected behaviour

 - JSON output describing changes to Conda state (e.g., `LINK`, `UNLINK`, etc.)

# Observed behaviour

JSON output is preceded by `menuinst` `INFO` log messages, like:

    INFO menuinst_win32:__init__(182): Menu: name: 'MicroDrop', pr

[2017-08-17 19:38] goanpeca opened #51 "Add CI for osx and linux"

[2017-08-29 22:10] mbargull commented on #48
An uniform cross-platform format with platform-specific definitions via selectors (or the like) would be a very nice addition! This would also solve https://github.com/conda/conda/issues/5153 in a much cleaner manner than tinkering within `conda` itself.

[2017-09-06 12:00] bk-m commented on #42
I just ran into the same (or a very similar) problem when running `conda install pandas=0.19`. A ridiculous amount of python processes were spawned to a point where my computer froze.

One thing I noticed is that this only happened when I ran the command with user-level access. Running the command while logged in to an admin account worked perfectly fine.

[2017-09-20 20:42] mbargull commented on #48
@goanpeca Will the `master` branch switch to such a "`2.0`" endeavor in the near future? I am asking in regards to whether PRs should be based on `master` or `1.4.x` if one wants to target a short term release.

[2017-09-20 21:05] goanpeca commented on #48
@mbargull that is the plan!

[2017-09-26 06:31] dhaneshdlal opened #53 "In linux getting import error get_executable"
ImportError: cannot import name get_executable

seems get_executable is not defined  in utils.

[2017-10-11 15:41] jgmorrison commented on #42
The general issue is when this is an All User install and users do not have write permissions. Especially when a user tries to create an environment with the anaconda package in it.

    conda create -n myenv python=2.7 anaconda

 The Pythonw.exe process wants to launch a window(GUI for pythonw.exe from menuinst) to request the admin password every time the installer hits a package that has a Star

[2017-10-25 23:25] zooba opened #54 "windows.knownfolders.get_path uses incorrect locale handling"
At [knownfolders.py#L213](https://github.com/ContinuumIO/menuinst/blob/master/menuinst/windows/knownfolders.py#L213) we see this code:

[code]

This entire block is incorrect and unnecessary, and actually broken on Python 2:
* `sys.getdefaultencoding()` is for transparently converting between `str` and `unicode` (**`ascii` on Python 2!**) - you actually want `sys.getfilesystemencoding()`
* the `ct

[2017-10-26 10:04] mingwandroid commented on #46
This is now fixed (along with the things it broke).

[2017-10-26 10:04] #46 closed

[2017-10-26 12:17] mbargull commented on #46
Hi @mingwandroid, sorry, I hadn't followed the further development on this issue. Seems @msarahan's PR was merged before mine for his branch: https://github.com/msarahan/menuinst/pull/1 (which I apparently didn't advertise enough, sorry..).
Reading your commit message for fcf395dbc7ccfd5130b2c38a243056820034081f

I suppose you did the same, which I suppose should be the correct behavior.

[2017-10-26 12:19] mingwandroid commented on #46
No problem. It's our lack of good tests that's the real issue here. Thanks for the contributions.

[2017-10-26 13:30] mbargull commented on #46
Oh boy, yeah, it's complicated to review the changes without test cases... Maybe you could start a PR with some test cases I (and others) could contribute some more to?
It is very complicated (and, I believe, for the general case [nearly] impossible) to get quoting & co. right for Windows, especially when CMD is involved, too.
For the long-term I hope we could work something out which can circumve

[2017-10-26 13:36] mingwandroid commented on #46
This is essential reading (if somewhat tedious):

https://blogs.msdn.microsoft.com/twistylittlepassagesallalike/2011/04/23/everyone-quotes-command-line-arguments-the-wrong-way/

PRs to add tests welcome, I do not expect I will have any time to look at menuinst until the next release of AD, and only then if there is another bad bug in it.

[2017-10-26 18:30] dashesy commented on #46
I wonder why there are all those `.replace('/', '\\')` in the code. In Windows (since 7), forward slash is a perfectly valid directory separator.

[2017-10-26 18:32] mingwandroid commented on #46
Because standardizing on one or the other is better than having them mixed and, despite your claim, there are loads of bits of Windows that do not handle `/` *at all*.

[2017-10-26 19:16] dashesy commented on #46
Can you please elaborate where exactly `/` will not work in Windows since 7? It even works in `CMD.exe` just try `cd c:/Windows`
Even then `os.path.normpath` should be used instead of `replace`.

[2017-10-26 19:38] mingwandroid commented on #46
Yes I can, easily:

[code]

If I change those shortcuts so that they have any `/` in them then that is something that comes through to `argv[0]` of the program that they point to. Some programs will parse `argv[0]` and not all of them will be written to handle `/` correctly (or at all). The thing you must remember is that the `Anaconda Distribution` supports running many arbitrary programs and the

[2017-11-14 21:44] goanpeca opened #55 "Multiple start menu folders"
See https://github.com/ContinuumIO/anaconda-issues/issues/1087

I installed anaconda by following these steps on Windows 10:

Install Anaconda 4.1.1 (Python 2.7 64 bit) using the installer from the website
conda update conda
conda update anaconda
After step 1 a folder appears in my start menu called "Anaconda2 (64-bit)". After completing step 3, another folder shows up called "Anaconda (64-bit)"

[2017-12-06 05:26] nehaljwani commented on #54
I can confirm that this issue exists with the py2 installers. I created a fake user by the name 'AndrésGarcía' and tried installing Miniconda2 to C:\AG and it failed with a traceback:
![screenshot from 2017-12-06 10-53-19](https://user-images.githubusercontent.com/1779189/33646038-ea00a1e6-da73-11e7-8016-83b6674d984a.png)

[2017-12-06 07:06] nehaljwani commented on #54
I can confirm that `type(path)` is already `unicode` before hitting this code path in Python2 and `str` in Python3 and the block of code can be removed.

However, even after applying the patch, I got a traceback (not via the installer, but on a local import):
[code]

[2017-12-06 07:23] nehaljwani commented on #54
Even if we are successful in patching the above, there is one more issue with Conda (Python2) installations. See https://github.com/conda/conda/issues/6401

[2017-12-20 16:38] JoeHartshorn commented on #42
If I wanted to solve this bug by changing the process to only install start menu items for one user, or not install start menu items at all, where would I start? Which package should I look to contribute to?

[2018-01-02 18:33] jakirkham opened #57 "Latest release not 1.4.10"
Was just noticing that 1.4.9 and 1.4.10 have been published, but 1.4.8 is still marked as the latest release. Are 1.4.9 and 1.4.10 official releases? Should 1.4.10 be marked as the latest release?

[2018-01-02 18:51] jakirkham commented on #51
Does this mean macOS and Linux are supported (or will be again)? Was a little confused by the note in the README, which made it sound like they are not supported.

[2018-01-04 17:17] mbargull commented on #51
They aren't yet, but @goanpeca wrote down some initial ideas for that in https://github.com/ContinuumIO/menuinst/issues/48.

[2018-01-05 15:56] cfobel commented on #49
Bump :)

[2018-01-17 21:24] kalefranz opened #58 "Problem with spaces in paths on windows"
See https://github.com/conda/conda/issues/6704#issuecomment-358450493

[2018-01-19 10:14] mbewley commented on #58
This makes the anaconda prompt not work at all (commands "conda" and "anaconda" are not recognised) on windows machines where there are spaces in the installation path (e.g. in the username for a default "single user" install). I think the fix should be just adding some quotes in the right place to the code that produces the shortcuts.

[2018-01-24 13:38] kalefranz opened #59 "An unexpected error has occurred while execute "conda upgrade --all -v""
_From @nanhu on January 21, 2018 2:34_

Menu: name: 'Anaconda${PY_VER} ${PLATFORM}', prefix: 'D:\ProgramData\Anaconda3',
 env_name: 'None', mode: 'None', used_mode: 'system'

Shortcut cmd is D:\ProgramData\Anaconda3\pythonw.exe, args are ['D:\\ProgramData
\\Anaconda3\\cwp.py', 'D:\\ProgramData\\Anaconda3', 'D:\\ProgramData\\Anaconda3\
\pythonw.exe', 'D:\\ProgramData\\Anaconda3\\Scripts\\anaconda-n

[2018-01-30 17:21] kalefranz opened #60 "Anaconda Prompt broken"
from https://github.com/conda/conda/issues/6704#issuecomment-357327468

---

The `Anaconda Prompt` shortcut uses
[code]
for which the last parameter is passed on to `activate.bat` as `"C:\ProgramData\Anaconda 3` (note the missing end quote).
If I change the target to
[code]
, everything works fine and `activate.bat`/`conda.bat` get `"C:\ProgramData\Anaconda 3"`.
Conclusion: For the `Anaconda Promp

[2018-02-13 17:49] huguesv commented on #58
This is a problem for the Anaconda installations we have in Visual Studio 2017. They are installed under `C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64`, etc

and the Anaconda Prompt doesn't work:
[code]

[2018-02-13 17:52] msarahan commented on #58
@huguesv, a path nested that deeply is going to cause problems with the path length limit.  Have you not seen these?  I'd be surprised.

I think we have addressed the space issue between recent conda releases and menuinst 1.4.11.  These will be in the looming Anaconda 5.1 installers.  If the VS team would like to test them, please email me - msarahan@anaconda.com

[2018-02-13 18:10] zooba commented on #58
@msarahan Thanks, I already have access to those.

I haven't seen path length limit issues, but can't rule them out for sure. That path isn't really much deeper than `C:\Users\my_username_here\AppData\Local\Continuum\anaconda3` (59 vs 66), and usernames certainly vary dramatically in length/spaces/Unicode/etc.

The only other option is a top-level install for all users (`C:\Anaconda3`), which I'm

[2018-02-13 19:03] huguesv commented on #58
I tested the 5.1 installer and the prompt works after installing into `C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64`

Thanks!

[2018-03-08 23:16] Ritcho commented on #42
Desktop admin here, this issue appears to be a rights issue in windows, a standard user doesn't have the privileges to create a symbolic link, our granular admin rights management program identifies this as object "SeCreateSymbolicLinkPriviledge", see below for reference:
https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/create-symbolic-links

When an env

[2018-03-08 23:34] Ritcho commented on #42
This could be one of the edge cases mentioned on line 210 of
https://github.com/ContinuumIO/menuinst/blob/master/menuinst/windows/win32.py

[2018-03-09 00:57] Ritcho commented on #42
This works in PowerShell, don't know whether it helps you

$s = (New-Object -COM WScript.Shell).CreateShortcut($env:ProgramData + '\Microsoft\Windows\Start Menu\Programs\Anaconda3 (64-bit)\test.lnk')
$s.TargetPath = 'c:\temp\Test.txt'
$s.Save()

[2018-04-05 14:25] vx1920 opened #64 "PythonW.exe not found during installation of "spyder" and other GUI items with conda"
I have Win7-X86 and latest Anaconda3-X86, menuinst version 14.x.
 During installation of "spyder" and other GUI items I got message box "Windows can not find pythonw" along with suspicious log from "menuinst".
 I use Windows command line: "py -m conda install spyder". My own py.bat uses proper full path to python.exe followed by the above arguments from command line (Windows cmd.exe prompt).
 I di

[2018-04-09 10:56] plu2k commented on #42
Has there been any progress on this issue? I have the same problem on a company machine running Windows 7. Removing menuinst is not a great option because it seems to be a dependency of conda-build (and anaconda of course, for that matter). Killing the pythonw process works, but wanting to promote the use of anaconda, this is not something I am eager to advise colleagues to do.

[2018-04-09 11:08] mingwandroid commented on #42
@Richto, the symlinks (proper, Unix-a-like ones) related to `SeCreateSymbolicLinkPriviledge` have nothing to do with `Start Menu` shortcuts.

[2018-04-13 20:30] pylang opened #65 "Update on PyPI required"
When trying to `> pip install menuinst` in a Python 3.6, I get this response:

[code]

Running `> pip show menuinst` shows the latest release is 1.0.0:

[code]

This is verified when [searching `menuinst` at PyPI](https://pypi.python.org/pypi/menuinst).

At the moment, this hinders installing `menuinst` via pip.  Can the latest releases be published to PyPI?

[2018-04-13 21:11] mingwandroid commented on #65
Why not conda install it? It is a package maintained by Anaconda Inc after
all.

On Fri, Apr 13, 2018 at 9:30 PM, pylang <notifications@github.com> wrote:

[2018-04-13 22:48] pylang commented on #65
I'm running test environments with tox, which use pip to install dependencies (such as `menuinst`).  I'm not aware of any means of installing and invoking conda packages in an environment setup by tox.

[2018-04-30 19:59] jengelman commented on #42
This issue also occurs when you try to update (or uninstall) anything that uses menuinst, which includes ipython and notebook.  I was able to get around it/avoid crashing my computer by manually killing every pythonw instance with pskill, but a less hacky solution would be greatly appreciated.

[2018-05-07 07:40] ReimarBauer commented on #53
I try to fix this using the current concept for linux.

[2018-05-17 18:18] csoja commented on #42
@msarahan  Can this be closed? (Is this fixed in menuinst 1.4.12?)

[2018-05-17 18:31] msarahan commented on #42
I believe so.  I did attempt to fix this in https://github.com/ContinuumIO/menuinst/pull/67

I understand how the problem arose, but I ultimately couldn't reproduce it.  I asked affected people to test, but none responded.  So yes, let's close it and keep our fingers crossed.

[2018-05-17 18:31] #42 closed

[2018-05-17 18:35] j-hartshorn commented on #42
Apologies for the late reply, the issue is resolved for me. Now when menuinst tries and fails to create a menu item as part of a package install, it shows a log entry and continues anyway.

[2018-05-30 04:40] jakirkham commented on #57
Think this has since been fixed. There is a more recent version in `defaults` on Windows from what I gather.

[2018-05-30 04:40] #57 closed

[2018-05-30 14:51] vx1920 commented on #64
I did update conda/menuinst in May-30-2018. I found that __init__.py was changed and mentioned fragment looks better ( pay attention to join() ):

                    retcode = runAsAdmin([join(sys.prefix, 'python'), '-c',
                                          "import menuinst; menuinst.install(%r, %r, %r, %r)" % (
                                              path, bool(remove), prefix, True)

[2018-05-30 16:24] #64 closed

[2018-05-30 16:31] msarahan commented on #64
pythonw should absolutely be there, but if this fixes any problems that anyone had, I'm happy.  It's actually an unintentional change left over from trying to debug stuff.  I'm happy enough to leave it as is, though - it might show more quickly-disappearing black console windows is all.

[2018-06-01 20:37] sal-git commented on #65
I'm also having this problem.

@mingwandroid I cannot use conda to install it because I get

[code]

[2018-06-06 18:12] pgunn commented on #37
On windows, removing menuinst is not permitted:
![conda_no_remove_menuinst](https://user-images.githubusercontent.com/829791/41056929-ae0e4030-6993-11e8-8481-640c5e2e849b.png)

[2018-08-19 14:38] dwervin opened #70 "When I create a virtual environment in Conda, why does it not create corresponding shortcuts for Conda, Jupyter, Spyder, etc?"
Previously when I installed Anaconda, when I created a virtual environment, corresponding shortcuts for Conda, Jupyter, and Spyder were automatically created for the new virtual environment.

Now, after installing the latest version of Anaconda on a new machine, it does not automatically create shortcuts for the new virtual environment. How do I get Conda to automatically do this?

[2018-09-05 16:20] vitorsr opened #71 "ImportError: No module named 'menuinst.winshortcut'"
Similar as Issue #16.

I was trying to `conda install` a module that only has py36 support so conda had to also downgrade Python from 3.7 to 3.6 in the same batch.

Upon attempting I got the exact same error as described by #16.

It was on a clean `Miniconda3-latest-Windows-x86_64` install on Windows 10.

I solved it by downgrading `conda install conda python=3.6` first then continuing to install

[2018-10-12 19:46] pylang commented on #65
I have decided to deprecate my use of `menuinst`, but I am curious to understand the workflow restrictions that have impeded pushing an update to pip.   Is it solely a maintenance issue or are there other factors involved?  I notice [this package was originally maintained by Enthought][0].  Does  Continuum/Anaconda not maintain it any longer?  Many thanks.

  [0]: https://pypi.org/project/menuinst

[2018-10-12 19:54] msarahan commented on #65
It is primarily because we maintain this tool really only for our own use.  We produce conda packages, and that's all that we need.  We have no incentive to maintain a PyPI package, and no community member has stepped up to contribute that extra bit.

Just a matter of insufficient resources and prioritization.

[2018-10-16 21:00] jakirkham opened #72 "AttributeError: module 'menuinst' has no attribute 'install'menuinst Exception"
Seeing this in some of my [build logs]( https://ci.appveyor.com/project/jakirkham/rank-filter/builds/19554631/job/yjk4vg4pwp5w68w6#L134 ) during an upgrade step.

[2019-04-29 07:35] whimian commented on #37
`conda remove menuinst` will remove `conda`.

[2019-08-06 18:54] DancingQuanta opened #74 "passing arguments to pyscript windows"
What is the correct way of passing arguments to a python script in `menu.json`?

I am trying to create a shortcut for a JupyterLab project that launch JupyterLab in a specific directory.

I tried this format which does not work
[code]
But this format works
[code]
It taken me a while to figure this out. A more clearer documentation could have resolved this.

[2019-08-30 21:34] CA4GitHub commented on #35
@mingwandroid I just learned they will get truncated as I tried to edit them.  How can I reinsert the full long value?

[2019-10-28 19:10] #71 closed

[2019-11-13 15:56] antoniovazquezblanco commented on #65
Sorry to bring up such an old thread.

I have an existing python installation and want to install conda. This is a dependency for the conda package and I am unable to install conda via pip which is my preferred way given that it will not bloat my system with second python installations.

As far as I know, this package uses setuptools thus suporting the `python setup.py sdist` to publish source dis

[2019-11-13 16:13] msarahan commented on #65
Conda doesn't work well in the context of a system python.  It manages python as one of its own dependencies.  It can't currently introspect your system to satisfy that, and it definitely shouldn't alter your system.  You may be interested in the standalone conda executables, which can create and manipulate environments, but which lack the environment activation code: https://repo.anaconda.com/pkg

[2019-11-13 16:31] antoniovazquezblanco commented on #65
Thanks for the insight. I will have a look at that!

[2019-11-14 13:09] ktprezes commented on #65
Hello
I've tried to install menuinst in python3.8 for windows environment via `pip install menuinst` and received similiar errors too... :(

In my case these steps led to success:
- download zip-file of master branch of this repository
- unpack it somewhere in my system
- cd to the folder with unpacked files
- run command: `python setup.py install`
- celebrate the success and install conda right a

[2020-01-14 21:53] lupien opened #75 "cwp.py overrides working directory"
Using cwp.py under windows to start an application overrides the working directory set in the shortcut properties (the "start in" option).

Would it be possible to either remove that override (to the Documents folder) or to add an option to skip the override if needed.

[2020-02-06 10:01] YSGitProjects commented on #16
This still exists for me upgrading from python 3.7.2 to python 3.8.1

    from .winshortcut import create_shortcut
ModuleNotFoundError: No module named 'menuinst.winshortcudone

[2020-05-05 18:56] Newtopian opened #76 "means to disable menu generation for a given instalaltion of conda"
Since menuinst is now a mandatory package when installing conda (at least on windows https://github.com/conda/conda/blob/master/setup.py#L40) once can no longer simply remove menuinst from allowed package as directed here (https://docs.conda.io/projects/conda-build/en/latest/resources/add-win-start-menu-items.html) or by excluding it in the .condarc.  doing so will fail any updates attempted on co

[2020-08-02 12:48] akshiv12 commented on #43
Any resolution to above?
I got similar issue during installation of 'navigator' for anaconda 2.2.0 in windows xp.

[2020-09-30 10:15] dlouhasha commented on #64
I Installed the 2020 07 version of windows 64-bit anaconda. The same problem still occurred. Wonder why

[2020-12-02 18:43] hmaarrfk commented on #37
Is there an other issue opened for this?

The recipe from the default channel requires menuinst for conda

https://github.com/AnacondaRecipes/conda-feedstock/blob/master/recipe/meta.yaml#L46

[2021-05-09 10:06] ReimarBauer opened #79 "menuinst called from non-root env"
Our windows users recently reported a window popping up, where they need an admin account.
(https://github.com/Open-MSS/MSS/issues/927)

![install on windows](https://user-images.githubusercontent.com/278728/117567933-ae54cd00-b0be-11eb-9757-c02b4f4fba3e.png)

How can this be handled?

[2021-07-07 13:40] ericpre opened #80 "Release"
Would it be possible to cut a release so that we can start to use https://github.com/ContinuumIO/menuinst/pull/77 in conda-forge recipes?

@cjmartian, @chenghlee and @jezdez.

[2021-07-07 14:59] chenghlee commented on #80
Yup; will tag a release in a bit.

[2021-07-07 15:16] ericpre commented on #80
Great, thanks!

[2021-07-29 19:00] chenghlee commented on #80
Closing; menuinst 1.4.17 has been tagged and is now available from conda-forge and Anaconda defaults:
[code]

[2021-07-29 19:00] #80 closed

[2021-10-14 08:56] jaimergp commented on #48
I'd like to revisit this. I have added patches to provide basic Linux/OSX support on #89 #88 but it'd be nice to clean up a bit too.

[2021-11-02 13:36] sebastianbertoli commented on #76
Would love to know this as well. @Newtopian may I ask if you have figured out a solution for this? Thank you! :)

[2021-11-02 15:20] sebastianbertoli commented on #79
I have the same problem unfortunately. Any ideas?

[2021-11-02 15:35] ReimarBauer commented on #79
In my case, I ignored it, and it seems more like a warning.

[2021-11-02 15:39] sebastianbertoli commented on #79
Thanks for the quick reaction @ReimarBauer! I guess that works too. XD If I find another solution, I will let you know. Thanks!

[2022-02-09 00:12] Newtopian commented on #76
Sorry for the late response, just notice this message.
I ended up creating my own installer for Conda through which I was able to get through it.  Don't quite remember the exact details of it. Sadly i've since changed job and I no longer have access to this codebase.  Should I get a flash of memory I'll post it back.  Worked reasonably well considering

[2022-03-09 15:24] jaimergp commented on #37
[`--no-shortcuts`](https://github.com/conda/conda/blob/fc81d4217f6c1804e983d1698f8b7cc5bc01874c/conda/cli/conda_argparse.py#L1672) should disable menu creation.

[2022-03-15 06:48] #72 closed

[2022-03-15 06:50] jakirkham commented on #51
Presumably we will still want this given there is interest in adding macOS and Linux support ( https://github.com/conda/menuinst/issues/48#issuecomment-943154918 )

[2022-05-14 04:31] #49 closed

[2022-05-14 04:31] #55 closed

[2022-05-14 04:31] #58 closed

[2022-05-14 04:31] #59 closed

[2022-05-14 04:31] #70 closed

[2022-05-14 04:31] #74 closed

[2022-05-14 04:31] #75 closed

[2022-08-10 19:03] isuruf commented on #41
pywin32 removed in #103

[2022-08-12 13:42] jaimergp commented on #76
@sebastianbertoli I think `.condarc` [allows](https://github.com/conda/conda/blob/main/conda/base/context.py#L1490-L1495) a `shortcuts: false` option.

[2022-08-12 13:43] jaimergp commented on #76
Can also be used per-command with [`--no-shortcuts`](https://github.com/conda/conda/blob/c6ead1bfaf14f6d5274cc05272212b95d55bac27/conda/cli/conda_argparse.py#L1775).

[2022-08-12 13:43] #76 closed

[2022-08-13 06:57] sebastianbertoli commented on #76
Thank you!

[2022-08-15 08:10] #41 closed

[2022-10-31 15:09] joamatab opened #109 "how to add menuinst support for MacOs and Linux?"
### Checklist

- [X] I added a descriptive title
- [X] I searched open reports and couldn't find a duplicate

### What happened?

How can we install menuinst on linux?

I see only windows support
https://github.com/conda-forge/menuinst-feedstock

![image](https://user-images.githubusercontent.com/4514346/199041193-e512d4aa-dbb3-4d8e-b1fa-a68917f0a320.png)

### Conda Info

[code]

### Conda Config

[2022-11-15 04:04] #48 closed

[2022-11-16 04:04] #53 closed